### Enunciado

EJERCICIO1

Haced un Script en el que:

1.- Introduzcamos alumnos de la siguiente forma: 

alumno1 = ["David Granados",4,5,7,8,9,9,10]

2.- Se introducirán varios alumnos. 

3.- Al final deberá de devolver una lista en la que aparezca el nombre del alumno y la media. Esto es lo que debe de devolver el programa.


EJERCICIO2 

Sobre el script anterior, modificarlo para que te ponga al lado de la nota media, SUSPENSO, APROBADO, BIEN, NOTABLE, SOBRESALIENTE.


EJERCICIO3
Sobre el script anterior para que cuando nos muestre lo del alumno, aprobado, el nombre y aprobado y todo aparezca siempre en mayúsculas.

EJERCICIO4
Ampliar el programa anterior para que dependiendo de si quiero los aprobados, los que tienen un bien... o todos, me devuelva la lista de alumnos junto con su media.

In [74]:
al1 =["David Granados",4,5,7,8,9,9,10]
al2 = ["Toky",4,7,2,3,9,9] # Ojo, que las notas pueden ser variables.

# Aqui meteriamos todos los alumnos que quisieramos. Se podría hacer con funciones.
alumnos = list()
alumnos.append(al1)
alumnos.append(al2)

In [75]:
alumnos

[['David Granados', 4, 5, 7, 8, 9, 9, 10], ['Toky', 4, 7, 2, 3, 9, 9]]

In [76]:
# ESTO HAY MUCHAS FORMAS DE HACERLO OS PONGO LA QUE HAY QUE PROGRAMAR

def calcularMedia(valores):
    total = 0
    for v in valores:
        total=v+total
    return total / len(valores)

In [77]:
def crearListaMedia(alumnos):
    resultado = list()
    for alumno in alumnos:
        valores = alumno[1:]
        media = calcularMedia(valores)
        resultado.append( [alumno[0],media] )
    return resultado

In [78]:
resultado = crearListaMedia(alumnos)
resultado

[['David Granados', 7.428571428571429], ['Toky', 5.666666666666667]]

### Ejercicio 2
Ahora tenemos que modificar la lista que hemos hecho antes para que nos ponga la letra.

In [89]:
def asignarNotaTexto(numero):
    resultado = None
    if numero <5:
        resultado = 'SUSPENSO'
    elif numero >=5 and numero <=7:
        resultado = 'BIEN'
    elif numero >7 and numero <9:
        resultado = 'NOTABLE'
    else:
        resultado = 'SOBRESALIENTE'

    return resultado

In [90]:
asignarNotaTexto(6.7)

'BIEN'

In [91]:
def crearListaMedia(alumnos):
    resultado = list()
    for alumno in alumnos:
        valores = alumno[1:]
        media = calcularMedia(valores)
        resultado.append( [alumno[0],media,asignarNotaTexto(media)] )
    return resultado

In [92]:
resultado = crearListaMedia(alumnos)
resultado

[['David Granados', 7.428571428571429, 'NOTABLE'],
 ['Toky', 5.666666666666667, 'BIEN']]

In [93]:
### EJERCICIO3

In [94]:
def filtro(lista,valor):
    resultado = list()
    for l in lista:
        if l[2] == valor:
            resultado.append(l)
    return l

In [95]:
print (filtro(resultado,"NOTABLE"))

['Toky', 5.666666666666667, 'BIEN']